.header {
  height: 30px;
  padding-right: 10px;
}
.header a {
  color: #1d2235;
}
.header a:hover {
  text-decoration: none;
}

.navbar {
  background-color: #F0EDED;
  height: 130px;
}

.logo {
  width: 130px;
  height: 80px;
}

.navbar-toggler {
  border: none;
}
.navbar-toggler:focus {
  box-shadow: none;
}

.email {
  font-size: 15px;
}

.offcanvas {
  --bs-offcanvas-width: 287px;
}

.email-link {
  color: #1d2235;
  font-weight: 700;
}
.email-link:hover {
  text-decoration: none;
  color: #1d2235;
}

.btn-close {
  background: #1d2235 url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
  opacity: 1;
  border-radius: 0px;
}
.btn-close:hover {
  background-color: #1d2235;
  opacity: 1;
}
.btn-close:focus {
  box-shadow: none;
}

.nav-item {
  margin-top: 20px;
  border-bottom: 1px solid #e9e9e9;
}

.nav-link {
  font-weight: 600;
  color: black;
}

.nav-link:hover {
  color: #1d2235;
}

.navbar-nav > .active > a {
  color: #1d2235;
}

.navbar-nav .nav-link.active {
  color: #1d2235;
}

.main-img {
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/image.png");
}

.main-heading {
  font-size: 55px;
  text-align: center;
}

.intro {
  margin-top: 30px;
  margin-bottom: 20px;
}

.intro-head {
  font-size: 45px;
  letter-spacing: 5px;
  color: #1d2235;
}

.intro-box {
  margin-top: 40px;
  width: 73%;
  background-color: #1d2235;
  margin-left: auto;
  margin-right: auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.introduction {
  font-size: 20px;
  line-height: 30px;
  padding: 0;
  margin: 0;
}

.offer {
  margin-top: 50px;
  padding: 0px 20px;
  margin-bottom: 20px;
}

.offer-head {
  font-size: 50px;
  font-weight: 700;
  color: #1d2235;
}

.off-content {
  margin-top: 60px;
  color: #1d2235;
  font-weight: 500;
  font-size: 18px;
}

.off-btn {
  border: 3px solid #1d2235;
  width: 150px;
  font-weight: bold;
  height: 60px;
  border-radius: 20px 0px;
}
.off-btn:hover {
  border: 3px solid #F6EA8F;
}

.contact {
  margin-top: 40px;
  padding: 15px 30px;
  background-color: #F6EA8F;
}
.contact .contact-box {
  border-radius: 12px 0px;
  padding: 25px 20px;
  background-color: white;
}
.contact .contact-box h1 {
  letter-spacing: 10px;
}

.box {
  height: 167px;
  border-radius: 20px 0px;
  background-color: #1d2235;
  color: #F6EA8F;
  font-weight: light;
  font-size: 50px;
  text-align: center;
  transition: border-radius 250ms;
}
.box p {
  font-size: 18px;
  text-align: center;
  padding: 0;
}

.box-link:hover .box {
  border-radius: 0px;
}

footer {
  padding: 0px 20px;
  margin-top: 40px;
  padding-top: 80px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-image: url("../images/footer-img.jpeg");
  background-position: center;
  box-shadow: inset 0 0 0 1000px rgba(56, 63, 71, 0.9);
}

.foo-logo {
  width: 250px;
  margin-bottom: 20px;
  height: 140px;
  margin-left: 30px;
}

.foo-contact {
  font-size: 20px;
}
.foo-contact p {
  font-size: 15px;
}
.foo-contact p a {
  color: white;
}
.foo-contact p a:hover {
  color: white;
}

@media (max-width: 767.98px) {
  .off-content {
    margin-top: 20px;
  }
}
@media (max-width: 575.98px) {
  .foo-content {
    width: 80%;
  }
}
.main-img-2 {
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/offer.png");
}

.head {
  margin-left: 20px;
  margin-top: 40px;
}

.contact-heading {
  font-size: 50px;
  font-weight: bolder;
  color: #1d2235;
}

.contact-us {
  margin-top: 50px;
  padding: 0px 70px;
}

.icon {
  width: 50px;
  height: 50px;
  font-size: 30px;
  border-radius: 50%;
  background-color: #1d2235;
  color: #F0EDED;
}

.contact-us-box {
  margin-bottom: 40px;
  height: 450px;
  background-color: #e9e9e9;
  padding: 40px;
}
.contact-us-box .inputs {
  margin-top: 15px;
}

.form-control {
  border-radius: 0px;
  border: none;
}

.form-control:focus {
  box-shadow: none;
  outline: none;
  border: 0px;
}

.send {
  background-color: #1d2235;
  color: white;
  border: none;
  height: 60px;
  border-radius: 20px 0px;
  text-transform: uppercase;
}
.send:hover, .send:focus {
  background-color: #1d2235;
  border: none;
  color: white;
}

.main-img-3 {
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/gallery.jpg");
  background-position: center;
}

.gallery {
  margin-top: 30px;
}

.gal-head {
  color: #1d2235;
  font-size: 40px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 4px;
}

.gal-cont {
  color: #1d2235;
  font-size: 18px;
  text-align: center;
}

.line {
  width: 80%;
  height: 2px;
  border-bottom: 2px solid #1d2235;
}

.gallery-imgs {
  padding: 10px 30px;
}

.main-img-4 {
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/asia-culturecenter-e3oPRcCHLwg-unsplash.jpg");
  background-position: center;
}

.services {
  margin-top: 30px;
}

.services-cards {
  padding: 10px 30px;
}

.card {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
}

.card-1 {
  background-image: url("../images/15.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.card-2 {
  background: url("../images/IMG-20220905-WA0024.jpg") no-repeat;
  background-size: cover;
}

.card-3 {
  background: url("../images/image 2.png") no-repeat;
  background-size: cover;
}

.card-4 {
  background: url("../images/image 3.png") no-repeat;
  background-size: cover;
}

.card-5 {
  background: url("../images/offer.png") no-repeat;
  background-size: cover;
}

.inner-box {
  width: 100%;
  height: 92%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}

.btn-box {
  width: 75%;
  font-weight: 700;
  border-radius: 20px 0px;
  height: 55px;
  border: none;
  background-color: #ebebeb;
}
.btn-box:hover, .btn-box:focus {
  border: none;
  background-color: #ebebeb;
}/*# sourceMappingURL=styles.css.map */